/* remove href links when printing */
@media print {
  a[href]:after {
    content: none !important;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: left;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .table-bordered {
    border:none;
  }
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}


#notification_li{
  position:relative;
  z-index: 999999;
}
#notificationContainer {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 50px;
  right: 10px;
  margin-left: 0px;
  width: 400px;
  z-index: 99;
  display: none;
}
#notificationContainer:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 379px;
}
#notificationTitle {
  z-index: 1000;
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  background-color: #ffffff;
  width: 384px;
  border-bottom: 1px solid #dddddd;
}
#notificationsBody {
  padding: 5px !important;
  height:380px;
  overflow: scroll;
  font-size: 13px;
}

#notificationsBody img {
  border-radius: 50em;
}

#notificationFooter {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}
#notification_count {
  padding: 3px 7px 3px 7px;
  background: #f56725;
  color: #ffffff;
  font-weight: bold;
  margin-left: 25px;
  border-radius: 9px;
  position: absolute;
  margin-top: -8px;
  font-size: 11px;
  z-index: 100;
}

.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt50 {margin-top: 50px;}

/* jQuery UI autocomplete */
.ui-menu .ui-menu-item a {
  color: black !important;
}

/* Button dropdown in table fix */
.table-dropdown {
  top: initial !important;
  left: initial !important;
}

/* Select2 CSS fixes */
.select2-container .select2-selection--single {
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  top: 55%;
}

/* Conditionize.js style fixes */
.conditional {
  margin: 0;
  border: none;
  padding: 0;
}
